*.class

# EA
*.ldb

# Package Files #
*.jar
*.war
*.ear

*.iml
.idea/*
!.idea/runConfigurations

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target

#derby
derby.log
/database/*
